<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Ladies", "Index", "Ladies", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Kids", "Index", "Kids", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Gents", "Index", "Gents", new { area = "" }, null)</li>       
        <li>@Html.ActionLink("Electronics", "Index", "ElectronicsHome", new { area = "Electronics" }, null)</li>
    </ul>
</nav>
